*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 920px;
    margin-right: auto;
    margin-left: auto;
}


body{
    font-family: 'Big Shoulders Display', 'sans-serif';
    font-family: 'Lexend Deca', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars-list{
    display: flex;
    
}
.box{
    border: none;
    border-radius: 8px;
    width: 307px;
    padding: 48px;
    list-style-type: none;
   
}
.sedans-box{
    background-color: #E28625;

}
.sedans-box:before{
    content: '';
    display: block;
    width: 64px;
    height: 40px;
    background-image: url('../images/icon-sedan.svg');
    margin-bottom: 35px;
    background-position: center center;

}
.suvs-box{
    background-color: #006971;
}
.suvs-box::before{
    content: '';
    display: block;
    width: 64px;
    height: 40px;
    background-image: url('../images/icon-suv.svg');
    margin-bottom: 35px;
    background-position: center center;


}
.luxury-box{
    background-color: #004140;;
}
.luxury-box::before{
    content: '';
    display: block;
    width: 64px;
    height: 40px;
    background-image: url('../images/icon-luxury.svg');
    margin-bottom: 35px;
    background-position: center center;
}

.title{
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin-bottom: 25px;


}

.text{
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 83px;
   

}
.btn{
    padding: 12px 31px;
    background: #F2F2F2;
    border-radius: 25px;
    border: 2px solid transparent;
    cursor: pointer;

}

.btn-sedans{
  color: #E28625;
}
.btn-suvs{
  color: #006971;
}
.btn-luxury{
  color: #004140;
}

.btn-sedans:hover{
    color: #fff;
    border-color: #fff ;
    background-color: transparent;
    transition: all 0.5s ease;
    outline-style: initial;
}

.btn-suvs:hover{
    color: #fff;
    border-color: #fff ;
    background-color: transparent;
    transition: all 0.5s ease;
    outline-style: initial;
}
.btn-luxury:hover{
    color: #fff;
    border-color: #fff ;
    background-color: transparent;
    transition: all 0.5s ease;
    outline-style: initial;
}
.sedans-box:hover{
    background-color: #aaa013;
    border-color: #fff ;
    transition: all 1s ease;
    outline-style: initial;
}
.suvs-box:hover{
    background-color: #1bb2bd;
    border-color: #fff ;
    transition: all 1s ease;
    outline-style: initial;
}
.luxury-box:hover{
    background-color: #0e1a8f;
    border-color: #fff ;
    transition: all 1s ease;
    outline-style: initial;
}

